.container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 61px;
  box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.24);
  background: #2196F3;
}
