@import "./normalize.global.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";
@import "./_reset.scss";

* {
  box-sizing: border-box;
}

html {
  font-family:  "Montserrat", serif;
}

body {
  background: #FFFFFF;
}

img {
  width: 100%;
}
